/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.search-bar
{
  display: block;max-height: 50px;font-size: 15px;padding: 15px;
}

.compare-box
{
  display: inline;position: fixed;bottom: 0px;
  right:0px;height: 250px;width: 600px; background-color: #d4d1bf;
  border: solid #3f3731 5px;
  padding: 20px;
}

.compare-btn-holder
{
  position: absolute;height: 100px; top: 75px;right: 35px;
}

.compare-btn
{
  width: 75px;
}

.winner-ribbon
{
  height: 50px;
}

ul {
  width: 60%;
  margin: auto;
}

/*deckgrid styling start*/

.deckgrid[deckgrid]::before {
  /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
  content: '4 .column.column-1-4';
  font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
  visibility: hidden;
}

.deckgrid .column {
  float: left;
}

.deckgrid .column-1-4 {
  width: 25%;
}

.deckgrid .column-1-1 {
  width: 100%;
}

@media screen and (max-width: 250px){
  .deckgrid[deckgrid]::before {
    content: '1 .column.column-1-1';
  }

  .deckgridC[deckgridC]::before {
    content: '1 .column.column-1-1';
  }
}

.gridCompare[gridCompare]::before {
  /* Specifies that the grid should have a maximum of 1 columns. Each column will have the classes 'column' and 'column-1-1' */
  content: '1 .column.column-1-1';
  font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
  visibility: hidden;
}

.gridCompare .column {
  float: left;
}

.gridCompare .column-1-1 {
  width: 100%;
}


/*deckgrid styling end*/
