<div>
    <header>
        <div class="container">
            <div class="search-bar">
                <form role="form">
                    <div class="form-group">
                        <input type="text" ng-model="search" placeholder="Search" class="form-control" ng-model-options="{ debounce: 300 }" />
                    </div>
                </form>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div deckgrid class="deckgrid" source="items" filter="search">
                <div class="a-card-drop" ng-model="items" data-drop="true" jqyoui-droppable="{index: {{card.index}}}" data-jqyoui-options="{accept:'.a-card-drop:not([ng-model=items])'}" >
                <div class="a-card" data-drag="true" ng-model="items" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{card.index}},placeholder:true,animate:true}" >
                    <h3>{{card.name}}</h3>

                    <img src="" data-ng-src="{{card.image_uri}}" al-click="mother.openPokemonDetail(card)">
                </div>
                </div>
            </div>

        </div>
        <div class="compare-box" data-drop="true" ng-model='compareList' data-jqyoui-options="optionsList"  jqyoui-droppable="{multiple:true}">

            <div deckgrid class="deckgrid" source="compareList">
                <div class="a-card-drop" >
                    <div class="a-card" >
                        <h3>{{card.name}}</h3>

                        <img src="" data-ng-src="{{card.image_uri}}">
                    </div>
                </div>
            </div>

            <div class="compare-btn-holder">
                <button class="btn btn-warning btn compare-btn" al-click="clearCompare()">Clear</button></br> </br>

                <button class="btn btn-success btn compare-btn" al-click="openPokeDetailCompare(compareList)">Compare</button>
            </div>
        </div>
    </section>
</div>
