<div class="modal-header">
    <h3 class="modal-title">Compare</h3>
</div>
<div class="modal-body">

    <table class="table-responsive table">
        <tr>
            <th>{{items[0].name}}</th>
            <th>{{items[1].name}}</th>
        </tr>
        <tr>
            <td>
                <img src="" data-ng-src="{{items[0].image_uri}}">

                <img src="content/images/ribbon.png" class="winner-ribbon" ng-if="one.typeScore> two.typeScore">

            </td>
            <td>
                <img src="" data-ng-src="{{items[1].image_uri}}" >
                <img src="content/images/ribbon.png" class="winner-ribbon" ng-if="two.typeScore> one.typeScore">
            </td>
        </tr>
        <tr>
            <td>{{oneDesc.description}}</td>
            <td>{{twoDesc.description}}</td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Types</b>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li ng-repeat="type in one.types">{{type.name}}</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li ng-repeat="type in two.types">{{type.name}}</li>
                </ul>
            </td>
        </tr>

        <tr>
            <td colspan="2" class="text-center">
                <b>Type Score Against Each Other</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{calcTypeScore(one,two)}}
            </td>
            <td class="text-center">
                {{calcTypeScore(two,one)}}
            </td>
        </tr>

        <tr>
            <td colspan="2" class="text-center">
                <b>Stat Rating</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{one.statRating}}
            </td>
            <td class="text-center">
                {{two.statRating}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Hp</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{one.hp}}
            </td>
            <td class="text-center">
                {{two.hp}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Attack</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{one.attack}}
            </td>
            <td class="text-center">
                {{two.attack}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Defense</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{one.defense}}
            </td>
            <td class="text-center">
                {{two.defense}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Special Attack</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{one.sp_atk}}
            </td >
            <td class="text-center" >
                {{two.sp_atk}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Special Defense</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{one.sp_def}}
            </td>
            <td class="text-center">
                {{two.sp_def}}
            </td>
        </tr>

        <tr>
            <td colspan="2" class="text-center">
                <b>Speed</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{one.speed}}
            </td>
            <td class="text-center">
                {{two.speed}}
            </td>
        </tr>

        <tr>
            <td colspan="2" class="text-center">
                <b>Abilities</b>
            </td>
        </tr>
        <tr>
            <td >
                <ul class="center-block">
                    <li ng-repeat="ability in one.abilities">{{ability.name}}</li>
                </ul>
            </td>
            <td>
                <ul class="center-block">
                    <li ng-repeat="ability in two.abilities">{{ability.name}}</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Height</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{one.height}}
            </td>
            <td class="text-center">
                {{two.height}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Weight</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{one.weight}}
            </td>
            <td class="text-center">
                {{two.weight}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Moves</b>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li ng-repeat="move in one.moves|limitTo:5">{{move.name}}</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li ng-repeat="move in two.moves|limitTo:5">{{move.name}}</li>
                </ul>
            </td>
        </tr>



    </table>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" al-click="ok()">OK</button>
</div>