<div class="modal-header">
    <h3 class="modal-title">Compare</h3>
</div>
<div class="modal-body">

    <table class="table-responsive table">
        <tr>
            <th>{{item.name}}</th>
        </tr>
        <tr>
            <td>
                <img src="" data-ng-src="{{item.image_uri}}">


            </td>
        </tr>
        <tr>
            <td>{{oneDesc.description}}</td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Types</b>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li ng-repeat="type in one.types">{{type.name}}</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Stat Rating</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{one.statRating}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Hp</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{one.hp}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Attack</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{one.attack}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Defense</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{one.defense}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Special Attack</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{one.sp_atk}}
            </td >
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Special Defense</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{one.sp_def}}
            </td>
        </tr>

        <tr>
            <td colspan="2" class="text-center">
                <b>Speed</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{one.speed}}
            </td>
        </tr>

        <tr>
            <td colspan="2" class="text-center">
                <b>Abilities</b>
            </td>
        </tr>
        <tr>
            <td >
                <ul class="center-block">
                    <li ng-repeat="ability in one.abilities">{{ability.name}}</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Height</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{one.height}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Weight</b>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                {{one.weight}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <b>Moves</b>
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li ng-repeat="move in one.moves|limitTo:5">{{move.name}}</li>
                </ul>
            </td>
        </tr>



    </table>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" al-click="ok()">OK</button>
</div>